<!DOCTYPE html>
<!-- TODO, on final release combine and minify all styles and scripts-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Boca Raton Community High School</title>
    <meta name="author" content="Boca Raton HS Computer Science Club">
    <meta name="keywords" content="Boca, Raton, Community, BRCHS, Bobcat, Bocats, Bobcatnews">
    <meta name="description" content="TODO">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style/normalize.css" rel="stylesheet" type="text/css">
    <link href="style/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body><a href="#content" class="assistive-text">Skip to content</a>
    <div id="container">
      <header id="masthead">
        <div id="welcome" class="jumbotron">
          <div id="branding">
            <h1 class="site-title">Boca Raton Community High School</h1>
            <h2 class="site-description">Lorem Ipsum Dolor</h2>
          </div>
          <div style="background-image:url(images/boca-raton-hs.jpg)" class="background"></div>
        </div>
        <nav id="mainnav" class="navigation">
          <span class="icon icon-menu" id="openmenu"></span>
            <ul id="delnav">
                <li><a href="#">Home</a></li>
                <li><a href="#">School Info</a></li>
                <li><a href="#">Class Info</a></li>
                <li><a href="#">Faculty</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Athletics</a></li>
                <li><a href="#">Clubs</a></li>
            </ul>
        </nav>
        <nav class="dropdown-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">School Info</a></li>
                <li><a href="#">Class Info</a></li>
                <li><a href="#">Faculty</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Athletics</a></li>
                <li><a href="#">Clubs</a></li>
            </ul>  
        </nav>
      </header>
        <main id="content">
        </main>
      <footer id="bilge">
        <div id="credits">Made by Boca High CSC</div>
      </footer>
    </div>
  </body>
</html>