// For a complete list of all available icons
// @see https://useiconic.com/open/

$iconic-font-family: "Icons" !default;
$iconic-font-path: $font-path + "iconic/" !default;

@font-face {
	font-family: $iconic-font-family;
	src: url("#{$iconic-font-path}iconic.eot");
	src: url("#{$iconic-font-path}iconic.eot?#iconic-sm") format("embedded-opentype"),
		 url("#{$iconic-font-path}iconic.woff") format("woff"),
		 url("#{$iconic-font-path}iconic.ttf") format("truetype"),
		 url("#{$iconic-font-path}iconic.otf") format("opentype"),
		 url("#{$iconic-font-path}iconic.svg#iconic-sm") format("svg");
	font-weight: normal;
	font-style: normal;
}

@mixin icon($glyph, $character) {
	&.icon-#{$glyph}:before {
		content: $character;
	}
}

.icon {
	speak: none;
	display: inline-block;
	font-family: $iconic-font-family;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include icon(account-login, '\e000');
	@include icon(account-logout, '\e001');
	@include icon(action-redo, '\e002');
	@include icon(action-undo, '\e003');
	@include icon(align-center, '\e004');
	@include icon(align-left, '\e005');
	@include icon(align-right, '\e006');
	@include icon(aperture, '\e007');
	@include icon(arrow-bottom, '\e008');
	@include icon(arrow-circle-bottom, '\e009');
	@include icon(arrow-circle-left, '\e00a');
	@include icon(arrow-circle-right, '\e00b');
	@include icon(arrow-circle-top, '\e00c');
	@include icon(arrow-left, '\e00d');
	@include icon(arrow-right, '\e00e');
	@include icon(arrow-thick-bottom, '\e00f');
	@include icon(arrow-thick-left, '\e010');
	@include icon(arrow-thick-right, '\e011');
	@include icon(arrow-thick-top, '\e012');
	@include icon(arrow-top, '\e013');
	@include icon(audio-spectrum, '\e014');
	@include icon(audio, '\e015');
	@include icon(badge, '\e016');
	@include icon(ban, '\e017');
	@include icon(bar-chart, '\e018');
	@include icon(basket, '\e019');
	@include icon(battery-empty, '\e01a');
	@include icon(battery-full, '\e01b');
	@include icon(beaker, '\e01c');
	@include icon(bell, '\e01d');
	@include icon(bluetooth, '\e01e');
	@include icon(bold, '\e01f');
	@include icon(bolt, '\e020');
	@include icon(book, '\e021');
	@include icon(bookmark, '\e022');
	@include icon(box, '\e023');
	@include icon(briefcase, '\e024');
	@include icon(british-pound, '\e025');
	@include icon(browser, '\e026');
	@include icon(brush, '\e027');
	@include icon(bug, '\e028');
	@include icon(bullhorn, '\e029');
	@include icon(calculator, '\e02a');
	@include icon(calendar, '\e02b');
	@include icon(camera-slr, '\e02c');
	@include icon(caret-bottom, '\e02d');
	@include icon(caret-left, '\e02e');
	@include icon(caret-right, '\e02f');
	@include icon(caret-top, '\e030');
	@include icon(cart, '\e031');
	@include icon(chat, '\e032');
	@include icon(check, '\e033');
	@include icon(chevron-bottom, '\e034');
	@include icon(chevron-left, '\e035');
	@include icon(chevron-right, '\e036');
	@include icon(chevron-top, '\e037');
	@include icon(circle-check, '\e038');
	@include icon(circle-x, '\e039');
	@include icon(clipboard, '\e03a');
	@include icon(clock, '\e03b');
	@include icon(cloud-download, '\e03c');
	@include icon(cloud-upload, '\e03d');
	@include icon(cloud, '\e03e');
	@include icon(cloudy, '\e03f');
	@include icon(code, '\e040');
	@include icon(cog, '\e041');
	@include icon(collapse-down, '\e042');
	@include icon(collapse-left, '\e043');
	@include icon(collapse-right, '\e044');
	@include icon(collapse-up, '\e045');
	@include icon(command, '\e046');
	@include icon(comment-square, '\e047');
	@include icon(compass, '\e048');
	@include icon(contrast, '\e049');
	@include icon(copywriting, '\e04a');
	@include icon(credit-card, '\e04b');
	@include icon(crop, '\e04c');
	@include icon(dashboard, '\e04d');
	@include icon(data-transfer-download, '\e04e');
	@include icon(data-transfer-upload, '\e04f');
	@include icon(delete, '\e050');
	@include icon(dial, '\e051');
	@include icon(document, '\e052');
	@include icon(dollar, '\e053');
	@include icon(double-quote-sans-left, '\e054');
	@include icon(double-quote-sans-right, '\e055');
	@include icon(double-quote-serif-left, '\e056');
	@include icon(double-quote-serif-right, '\e057');
	@include icon(droplet, '\e058');
	@include icon(eject, '\e059');
	@include icon(elevator, '\e05a');
	@include icon(ellipses, '\e05b');
	@include icon(envelope-closed, '\e05c');
	@include icon(envelope-open, '\e05d');
	@include icon(euro, '\e05e');
	@include icon(excerpt, '\e05f');
	@include icon(expand-down, '\e060');
	@include icon(expand-left, '\e061');
	@include icon(expand-right, '\e062');
	@include icon(expand-up, '\e063');
	@include icon(external-link, '\e064');
	@include icon(eye, '\e065');
	@include icon(eyedropper, '\e066');
	@include icon(file, '\e067');
	@include icon(fire, '\e068');
	@include icon(flag, '\e069');
	@include icon(flash, '\e06a');
	@include icon(folder, '\e06b');
	@include icon(fork, '\e06c');
	@include icon(fullscreen-enter, '\e06d');
	@include icon(fullscreen-exit, '\e06e');
	@include icon(globe, '\e06f');
	@include icon(graph, '\e070');
	@include icon(grid-four-up, '\e071');
	@include icon(grid-three-up, '\e072');
	@include icon(grid-two-up, '\e073');
	@include icon(hard-drive, '\e074');
	@include icon(header, '\e075');
	@include icon(headphones, '\e076');
	@include icon(heart, '\e077');
	@include icon(home, '\e078');
	@include icon(image, '\e079');
	@include icon(inbox, '\e07a');
	@include icon(infinity, '\e07b');
	@include icon(info, '\e07c');
	@include icon(italic, '\e07d');
	@include icon(justify-center, '\e07e');
	@include icon(justify-left, '\e07f');
	@include icon(justify-right, '\e080');
	@include icon(key, '\e081');
	@include icon(laptop, '\e082');
	@include icon(layers, '\e083');
	@include icon(lightbulb, '\e084');
	@include icon(link-broken, '\e085');
	@include icon(link-intact, '\e086');
	@include icon(list-rich, '\e087');
	@include icon(list, '\e088');
	@include icon(location, '\e089');
	@include icon(lock-locked, '\e08a');
	@include icon(lock-unlocked, '\e08b');
	@include icon(loop-circular, '\e08c');
	@include icon(loop-square, '\e08d');
	@include icon(loop, '\e08e');
	@include icon(magnifying-glass, '\e08f');
	@include icon(map-marker, '\e090');
	@include icon(map, '\e091');
	@include icon(media-pause, '\e092');
	@include icon(media-play, '\e093');
	@include icon(media-record, '\e094');
	@include icon(media-skip-backward, '\e095');
	@include icon(media-skip-forward, '\e096');
	@include icon(media-step-backward, '\e097');
	@include icon(media-step-forward, '\e098');
	@include icon(media-stop, '\e099');
	@include icon(medical-cross, '\e09a');
	@include icon(menu, '\e09b');
	@include icon(microphone, '\e09c');
	@include icon(minus, '\e09d');
	@include icon(monitor, '\e09e');
	@include icon(moon, '\e09f');
	@include icon(move, '\e0a0');
	@include icon(musical-note, '\e0a1');
	@include icon(paperclip, '\e0a2');
	@include icon(pencil, '\e0a3');
	@include icon(people, '\e0a4');
	@include icon(person, '\e0a5');
	@include icon(phone, '\e0a6');
	@include icon(pie-chart, '\e0a7');
	@include icon(pin, '\e0a8');
	@include icon(play-circle, '\e0a9');
	@include icon(plus, '\e0aa');
	@include icon(power-standby, '\e0ab');
	@include icon(print, '\e0ac');
	@include icon(project, '\e0ad');
	@include icon(pulse, '\e0ae');
	@include icon(puzzle-piece, '\e0af');
	@include icon(question-mark, '\e0b0');
	@include icon(rain, '\e0b1');
	@include icon(random, '\e0b2');
	@include icon(reload, '\e0b3');
	@include icon(resize-both, '\e0b4');
	@include icon(resize-height, '\e0b5');
	@include icon(resize-width, '\e0b6');
	@include icon(rss-alt, '\e0b7');
	@include icon(rss, '\e0b8');
	@include icon(script, '\e0b9');
	@include icon(share-boxed, '\e0ba');
	@include icon(share, '\e0bb');
	@include icon(shield, '\e0bc');
	@include icon(signal, '\e0bd');
	@include icon(signpost, '\e0be');
	@include icon(sort-ascending, '\e0bf');
	@include icon(sort-descending, '\e0c0');
	@include icon(spreadsheet, '\e0c1');
	@include icon(star, '\e0c2');
	@include icon(sun, '\e0c3');
	@include icon(tablet, '\e0c4');
	@include icon(tag, '\e0c5');
	@include icon(tags, '\e0c6');
	@include icon(target, '\e0c7');
	@include icon(task, '\e0c8');
	@include icon(terminal, '\e0c9');
	@include icon(text, '\e0ca');
	@include icon(thumb-down, '\e0cb');
	@include icon(thumb-up, '\e0cc');
	@include icon(timer, '\e0cd');
	@include icon(transfer, '\e0ce');
	@include icon(trash, '\e0cf');
	@include icon(underline, '\e0d0');
	@include icon(vertical-align-bottom, '\e0d1');
	@include icon(vertical-align-center, '\e0d2');
	@include icon(vertical-align-top, '\e0d3');
	@include icon(video, '\e0d4');
	@include icon(volume-high, '\e0d5');
	@include icon(volume-low, '\e0d6');
	@include icon(volume-off, '\e0d7');
	@include icon(warning, '\e0d8');
	@include icon(wifi, '\e0d9');
	@include icon(wrench, '\e0da');
	@include icon(x, '\e0db');
	@include icon(yen, '\e0dc');
	@include icon(zoom-in, '\e0dd');
	@include icon(zoom-out, '\e0de');
}
